header{
  color: white;
  height: 100vh;

  > div:first-of-type{
    position: fixed;
    width: 100%;
    background: linear-gradient(0deg, rgba(11,25,83,1) 0%, rgba(23,50,112,1) 70%);
    z-index: 30;

    .navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      font-size: $normalFont;

      img, li, button{
        cursor: pointer;
      }

      ul{
        display: inline-block;

        li{
          display: inline;
          margin: 0 15px;
          font-weight: lighter;
        }

        li:hover{
          color: $orangeColor;
        }

        li:first-of-type{
          font-weight: bold;
          color: $orangeColor;
        }
      }

      button{
        display: inline-block;
        color: white;
        font-size: $normalFont;
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        background: linear-gradient(90deg, $bluButton 0%, $darkBluButton 100%);
        margin-left: 30px;
      }

      button:hover{
        background: linear-gradient(90deg, $darkBluButton 0%, $bluButton 100%);
      }
    }
  }


  .jumbotron{
      background-image: url('../img/jumbotron.png');
      background-repeat: no-repeat;
      background-position: right;
      background-size: 50%;
      height: calc(100vh - 100px);
      position: relative;


      > div{
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        h1{
          font-size: $bigFont;

          span{
            font-weight: lighter;
          }
        }

        p{
          margin: 50px 0;
          color: $bluColor;
        }

      }
    }
}
