.whatWe{
  text-align: center;

  > div:first-of-type{
    margin: 100px 0;

    p:first-of-type{
      color: $orangeColor;
      font-size: $normalFont;
    }

    h2{
      font-size: $titleFont;

      span{
        font-weight: lighter;
      }
    }
  }

  > div:last-of-type{
    display: flex;
    margin: 100px 0;

    > div{
      width: 25%;
      padding: 0 50px;
      text-align: center;

      img{
        height: 130px;
      }

      h3{
        font-size: 25px;
        margin: 80px 0 40px;
      }

      p{
        font-weight: lighter;
      }
    }
  }

  button{
    background: linear-gradient(340deg, rgba(249,99,107,1) 0%, rgba(182,36,110,1) 100%);
    color: white;
    font-size: $normalFont;
    border: none;
    border-radius: 50px;
    padding: 15px 50px;
    box-shadow: 0px 0px 40px 0px $orangeColor;
    margin: 80px 0;
    cursor: pointer;
  }
}

.growBusiness{

  > div{
    display: flex;

    > div:first-of-type{
      width: 50%;
    }

    > div > div:first-of-type{
      position: relative;
      padding-left: 100px;

      img:first-of-type{
        position: absolute;
        top: 200px;
        left: 145px;
        width: 400px;
        z-index: 10;
      }

      img:last-of-type{
        width: 400px;
        position: absolute;
        top: 160px;
        z-index: 5;
      }
    }

    > div:last-of-type{
      color: white;
      width: 50%;
      padding: 200px 60px;

      h2{
        font-size: $bigFont;

        span{
          font-weight: lighter;
        }
      }

      p:last-of-type{
        color: $bluColor;
        font-weight: lighter;
        margin: 50px 0;
      }
    }
  }

}

.portfolio{
  position: relative;

  > div:first-of-type{
    margin: 100px 0 0;

    p{
      color: $orangeColor;
    }

    h2{
      font-size: $titleFont;

      span{
        font-weight: lighter;
      }
    }
  }

  .glide__slides{
    display: flex;
    overflow: auto;
    padding: 100px 0;

    .glide__slide{
      border-radius: 25px;
      box-shadow: 0px 5px 20px -10px rgb(0 0 0 / 50%);
      margin: 0 20px !important;

      > div:first-of-type{

        img{
          border-radius: 25px;
          width: 100%;
        }
      }

      > div:last-of-type{
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
      }
    }
  }

  .glide__slides::-webkit-scrollbar{
    display: none;
  }

  .glide__bullets{
    text-align: center;
    margin: 0 0 100px;

    button{
      background-color: rgba(0,0,0,.1);
      padding: 4px;
      border-radius: 50%;
      border: none;
      margin: 0 2px;
    }

    .glide__bullet--active{
      background-color: $pinkColor;
    }
  }

  .glide__arrows{
    position: absolute;
    top: -50px;
    right: 100px;

    button{
      background-color: white;
      border-radius: 50%;
      border: 1px solid $orangeColor;
      padding: 10px 13px;
      font-size: 20px;
      cursor: pointer;
      color: $orangeColor;
      margin-left: 25px;
      outline: none;
    }
  }
}

.priceList{
  background: linear-gradient(90deg, rgba(11,25,83,1) 0%, rgba(2,3,49,1) 100%);
  height: 750px;
  color: white;

  > div:first-of-type{
    text-align: center;
    width: 700px;
    margin: auto;
    padding: 100px 0;

    p:first-of-type{
      color: $orangeColor;
    }

    h2{
      font-size: $titleFont;

      span{
        font-weight: lighter;
      }
    }
  }

  > div:last-of-type{
    display: flex;
    justify-content: space-between;

    > div{
      background-color: white;
      border-radius: 25px;
      color: black;
      text-align: center;
      width: 31%;
      box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.5);
      position: relative;

      > div:first-of-type{
        margin: 50px 0;

        h3{
          font-size: $titleFont;
          font-weight: 500;
        }

        p{
          font-weight: 500;
        }
      }

      > div:last-of-type{
        margin: 50px auto;
        width: 30%;

        span:first-of-type{
          float: left;
        }

        p{
          font-size: 90px;
          font-weight: bold;
        }
      }

      li{
        list-style: none;
        margin: 10px 0;
        color: rgba(0,0,0,.7);

        span{
          font-weight: bold;
          color: black;
        }
      }

      button{
        background: linear-gradient(0deg, rgba(249,99,107,1) 0%, rgba(182,36,110,1) 100%);
        font-weight: bold;
        box-shadow: 0px 0px 30px 0px $orangeColor;
        margin: 50px 0;

        i{
          margin-left: 40px;
        }
      }

      > p{
        font-size: 300px;
        position: absolute;
        top: -108px;
        right: -20px;
        font-weight: bold;
        color: rgba(0,0,0,0.1);
      };
    }

    > div:nth-child(2){
      background: linear-gradient(90deg, rgba(182,36,110,1) 0%, rgba(249,99,107,1) 100%);
      color: white;

      li{
        color: rgba(255,255,255,.7);

        span{
          color: white;
        }
      }

      button{
        box-shadow: none;
        background: white;
        color: $orangeColor;
      }

      > p{
        color: rgba(255,255,255,.1);
      }
    }
  }
}

.blog:before{
  content: "";
  display: block;
  height: 500px;
}

.blog{

  > div:first-of-type{
    text-align: center;
    width: 700px;
    margin: auto;

    p:first-of-type{
      color: $orangeColor;
    }

    h2{
      font-size: $titleFont;

      span{
        font-weight: lighter;
      }
    }
  }

  > div:last-of-type{
    display: flex;
    justify-content: space-between;
    margin: 100px 0;

    > div{
      width: 23%;
      background: linear-gradient(315deg, rgba(23,50,112,1) 0%, rgba(3,3,49,1) 70%);
      border-radius: 25px;
      color: white;
      padding: 50px;
      display: flex;
      flex-wrap: wrap;

      p{
        font-size: $miniFont;
        color: rgba(255, 255, 255, 0.7);
      }

      i{
        font-size: 3px;
        vertical-align: middle;
        margin: 0 10px;
      }

      h3{
        margin: 25px 0;
      }

      button{
        color: black;
        align-self: flex-end;
        margin-top: 25px;
      }
    }

    .active{
      width: 49%;
      background-image: url('../img/blog.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      flex-wrap: nowrap;
      justify-content: space-between;
      position: relative;

      > div:first-of-type{
        width: 70%;
        align-self: flex-end;
        z-index: 20;

        h3{
          margin: 15px 0;
        }
      }

      > div:last-of-type{
        width: 30%;
        align-self: flex-end;
        z-index: 20;
      }
    }

    .active::after{
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,.5);
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 25px;
    }
  }
}

.testimonial{
  > div:first-of-type{
    text-align: center;
    width: 700px;
    margin: auto;

    p:first-of-type{
      color: $orangeColor;
    }

    h2{
      font-size: $titleFont;

      span{
        font-weight: lighter;
      }
    }
  }

  > div:nth-child(2){
    display: flex;
    justify-content: space-between;
    margin: 100px 0;

    > div{
      width: 30%;
      text-align: center;

      img{
        width: 105px;
        background-color: $pinkColor;
        border-radius: 50px;
        padding: 4px;
      }

      > div{
        position: relative;
        margin: 40px 0 25px;

        i{
          background: linear-gradient(0deg, rgba(249,99,107,1) 0%, rgba(182,36,110,1) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p{
          font-size: 200px;
          font-style: italic;
          width: 100%;
          position: absolute;
          top: -57px;
          right: 59%;
          transform: translateX(50%);
          z-index: -1;
          color: rgba(0,0,0,.1);
        }
      }


      h4{
        margin: 25px 0 10px;
      }
    }
  }

  > div:last-of-type{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    margin: 100px 0 150px;

    img{
      align-self: center;
    }
  }
}
