// COLOR
$textColor: #0C0C0C;
$bluColor: #03A7D3E6;
$orangeColor: #F9636B;
$pinkColor: #B6246E;

// FONT SIZE
$miniFont: 14px;
$normalFont: 18px;
$bigFont: 44px;

// CONTAINER SIZE
$smallContainer: 700px;
$mediumContainer: 900px;
$largeContainer: 1200px;
