// COLOR
$textColor: #0C0C0C;
$bluColor: #03A7D3E6;
$orangeColor: #F9636B;
$pinkColor: #B6246E;

// BACKGROUND COLOR
$bluBack: #527CEB;
$darkBack: #333333;

// BUTTON COLOR
$bluButton: rgba(3,167,211,1);
$darkBluButton: rgba(30,61,130,1);

// FONT SIZE
$miniFont: 14px;
$normalFont: 18px;
$bigFont: 44px;

// CONTAINER SIZE
$smallContainer: 900px;
$mediumContainer: 1200px;
$largeContainer: 1440px;
$navbarContainer: 1640px;
